/**
 * name: 
 * desc:
 * date: 2019/7/7
 * author: kelvin
 */
.tooltip-demo {
    & > h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .tooltip-demo-content {
        display: flex;
        .tooltip-demo-box {
            flex: 1;
            text-align: center;
        }
    }
}